
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ex{
    
    justify-content: center;
    width: 450px;
    height: 200px;
    border: solid 1px black;
    border-radius: 5px;
    padding-left: 10px;
}

.ex p{
    margin: 10px;
    
}

.resultado{
    color: green;
}

.resultadoVermelho{
    color: red;
}

.resultadoAmarelo{
    color: rgb(255, 174, 0);
}

.nota {
    margin-top: 0;
    margin-bottom: 0;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 965px){

    .ex {
        width: 350px;

    }
    .ex h1{
        font-size: 1rem;
        
    }

    
}
/*TABLET*/
@media screen and (min-width: 660px) and (max-width: 768px){

    .ex {
        width: 300px;

    }
    .ex h1{
        font-size: 1rem;
        
    }
    .ex p{
        font-size: 0.8rem;
        
    }

    
}

/*celular*/
@media screen and (min-width: 300px) and (max-width: 660px){

    body {
        display: flex;
        flex-direction: column;
        

    }

    .ex {
        width: 300px;
        

    }
    .ex h1{
        font-size: 1rem;
        
    }
    .ex p{
        font-size: 0.8rem;
        
    }

    
}